/* Modal.css */
.modal-backdrop {
  position: fixed;
  top: 0;
  /* left: 0; */
  /* width: 100%; */
  /* width: 1000px; */
  margin: auto;
  min-width: 500px;
  width: auto;
  height: 100%;
  /* min-width: 50px; */
  background-color: rgba(0,0,0,0.5); /* dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* .modal-content {
  width: 350px;    
  max-width: 90%;   
  padding: 20px;    
  border-radius: 12px;
} */

.modal-content {
  justify-items: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 60%;      /* ⬅ Bigger width */
  max-width: 350px; /* ⬅ Prevents it from becoming too huge */
  min-height: 250px; /* ⬅ Taller popup */
  box-sizing: border-box;
}
.modal-content .btn{
    background: rgb(217, 43, 43);
}
