.sheetshop-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.sheetshop-container{
     display: flex;
  flex-direction: column;
  gap: 15px;              
  /* width: 30%;   */

}
.sheetshop-total{
    display: flex;
  justify-content: space-between;  
  gap:140px;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 88%; 
}
.sheetshop-btn{
    background-color: black;
}