.sheetshop-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.sheetshop-container{
     display: flex;
  flex-direction: column;
  gap: 15px;              
  /* width: 30%;   */

}
.sheetshop-total{
    display: flex;
  justify-content: space-between;  
  gap:140px;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 88%; 
  font-size: 18px;
}
.sheetshop-btn{
    background-color: black;
}
.sheet-form {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60%;
}
/* .sheet-form input{
        width: 180px;

} */
.sheet-form-in{
    width: 180%;
    padding: 5px;
}
.sheet-option{
    width: 140%;
}
.remove-item-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 9px;
  /* margin-left: 10px; */
  cursor: pointer;
  border-radius: 5px;
}

.product-row {
  display: flex;
  gap: 10px;
  /* margin-bottom: 10px; */
}


.add-more {
    width: 130%;
  background: #15191e;
  color: white;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  margin-top: 15px;
}

.close-btn {
        width: 60%;
  background: #cc0000;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  border: none;
}

.submit-btn {
    width: 60%;
  background: #111312;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  border: none;
}